#The GROUP assignment allows you to define which Unix group should own
#the device node. Here is an example rule which defines that the users
#group will own the serialfc devices:
#
#SUBSYSTEM=="serialfc*", GROUP="users"
#
#The OWNER key allows you to define which Unix user should have
#ownership permissions on the device node. Assuming the slightly odd
#situation where you would want john to own your serialfc devices, you\
#could use:
#
#SUBSYSTEM=="serialfc*", OWNER="lab"
#
#udev defaults to creating nodes with Unix permissions of 0660
#(read/write to owner and group). If you need to, you can override
#these defaults on certain devices using rules including the MODE
#assignment. As an example, the following rule defines that the inotify
#node shall be readable and writable to everyone:
#
#SUBSYSTEM=="serialfc*", MODE="0666"
#
#Ensures that the device node named serialfc0 is created at /dev/serialfc/0 but
#also creates a symbolic link at /dev/serialfc0 as usual.
#
#SUBSYSTEM=="serialfc*", SYMLINK+="%k"
#
#Put the serialfc.rules file in the /etc/udev/rules.d directory before loading
#the driver.

SUBSYSTEM=="serialfc*", MODE="0666"
